# MLflow
mlflow.db
mlruns/

#Python
__pycache__/
*.pyc

# Virtual Environment
neuralretail_env/
venv/

# Environment files
.env

# jupyter
.ipynb_checkpoints/

# OS files
.DS_Store"data/raw/*.csv" 
"data/raw/*.xlsx" 
"data/processed/*.parquet" 
"data/features/*.parquet" 

.env
.streamlit/secrets.toml
data/raw/
mlruns/
neuralretail_env/
venv/
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints
models/*.pkl
